<p-growl [value]="msgs"></p-growl>
<div class="code-breaking__game">
  <h3>Challenge</h3>
  <div class="game__challengers">
    <span class="game__loggedUser">{{userLoggedIn}}</span>
    <span>VS</span>
    <span class="game__opponent">{{opponent}}</span>
  </div>
  <div class="game__board">
    <div class="game__initial-number" *ngIf="!numberSet && !readyToPlay">
      <form [formGroup]="numberForm" class="game__form-number" novalidate>
        <span class="ui-float-label">
          <input id="float-input" type="text" formControlName="number" pInputText>
          <label for="float-input">Number</label>
          <button pButton type="button" label="Set" (click)="setInitialNumber()"></button>
        </span>
      </form>
    </div>
    <div class="game__number-set" *ngIf="numberSet && readyToPlay">My Number is {{ myNumber }}</div>
    <div class="game__opponent-ready-message" *ngIf="opponentReady && !readyToPlay">
      <p>The Opponent is Ready!</p>
    </div>
    <div class="game__attempts" *ngIf="readyToPlay && myTurn">
      <form [formGroup]="attemptsForm" class="game__form-attempts" novalidate>
        <span class="ui-float-label">
          <input id="float-input" type="text" formControlName="attemptNumber" pInputText>
          <label for="float-input">Number</label>
          <button pButton type="button" label="Set" (click)="setAttempt()"></button>
        </span>
      </form>
    </div>
    <div class="game__waiting-turn-message" *ngIf="readyToPlay && !myTurn">
      <p>Waiting my turn...</p>
    </div>
    <div *ngIf="readyToPlay" class="game__my-attempts">
      <h4>Attempts</h4>
      <ul class="my-attempts__content">
        <li class="attempt__item" *ngFor="let attempt of myAttempts">
          <div>Number: <span class="attempt-item__number">{{attempt.number}}</span></div>
          <div>Points: <span class="attempt-item__points">{{attempt.points}}</span></div>
          <div>Fames: <span class="attempt-item__fames">{{attempt.fames}}</span></div>
        </li>
      </ul>
    </div>
    <div *ngIf="readyToPlay" class="game__opponent-attempts">
        <h4>Opponent Attempts</h4>
      <ul class="my-attempts__content">
        <li class="attempt__item" *ngFor="let attempt of opponentAttempts">
          <div>Number: <span class="attempt-item__number">{{attempt.number}}</span></div>
          <div>Points: <span class="attempt-item__points">{{attempt.points}}</span></div>
          <div>Fames: <span class="attempt-item__fames">{{attempt.fames}}</span></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<p-dialog [(visible)]="visible" [responsive]="true" modal="modal">
  <p>{{endGameMessage}}</p>
  <button pButton type="button" label="Continue" (click)="continue()"></button>
</p-dialog>