<p-growl [value]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>
<div class="code-breaking__dashboard">
  <div class="dashboard__online-users">
    <h4 class="dashboard__online-users-title" *ngIf="userOnlines">Online Users</h4>
    <ul class="online-users__list">
      <li class="online-users__item" *ngFor="let item of userOnlines">
        <a href="javascript:void(0)" (click)="challengeOpponent(item.user)">
          <div class="online-users__item-name">{{item.user}}</div>
        </a>
      </li>
    </ul>
    <h4 class="dashboard__challenge-title" *ngIf="challenges">Challenges</h4>
    <ul class="challenge__list">
      <li class="challenge__item" *ngFor="let challenge of challenges">
        <a href="javascript:void(0)" (click)="answerChallenge(challenge.challenger)">
          <div class="challenge__item-name">{{challenge.challenger}}</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="dashboard__ranking">
    <h4 class="dashboard__ranking-title" *ngIf="ranking">Ranking</h4>
    <ol class="ranking__list">
      <li class="ranking__item" *ngFor="let player of ranking">
        <span class="ranking-item__username">{{player.username}}</span>
        <span class="ranking-item__wins">won games: {{player.wins}}</span>
      </li>
    </ol>
  </div>
</div>