.code-breaking__core {
    height: 100%;
    display: flex;
    flex-flow: column;
    .core__header {
        flex-basis: 10%;
    }
    .core__body {
        flex-basis: 80%;
    }
    .core__footer {
        flex-basis: 10%;
    }
}